/* http://www.google.com/fonts#UsePlace:use */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);

body {
    position: relative;
}

p {
	font-family: 'Roboto Condensed';
	font-weight: 400;
	font-size: 25px;
}

h1 {
	font-family: 'Roboto Condensed';
	font-size: 70px;
	font-weight: 400;
	/*font-weight: 700;*/
}


h2 {
	font: 40px/70px 'Roboto Condensed';
	font-weight: 400;
}

.clouds { 
	position:relative; 
	/*background:url(../images/bg_1.jpg) 50% 0 no-repeat;*/ 
	width:100%; 
	z-index:1;
}

.scrollblock { 
	width:100%; 
	position: absolute; 
	z-index:2;
}

.city-bg {
	/*background:url(../images/bg_city.jpg) 50% 100% no-repeat;*/ 
	width:100%;
}

section { 
	position:relative; 
	z-index:5;
}

.section { 
	width:960px; 
	margin:0 auto; 
	text-align:center; 
	position:relative; 
	/*margin-bottom:125px;*/
}

#header-logo {
	margin: 0 auto;
    position: relative;
    width: 520px;
    z-index: 10;
}

#header-logo h1 {
	padding: 54px 0 0 120px;
}

#logo {
	padding: 0px;
	display:block; 
	background:url(/img/logo.png) 0 0 no-repeat; 
	width:277px; 
	height:120px; 
	text-indent:-5000px;
}