<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Bright Inventions</title>
    <meta name="viewport" content="width=device-width">
	<!-- TODO add /css instead of css -->
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.min.js"></script>

</head>
<body>
	<div class="clouds">

		<div class="scrollblock">
			<!-- paralax, anim elems -->
		</div>
		<div class="city-bg">
			<section>
				<div class="section" id="header">
					<div id="header-logo">
						<h1>
							<a href="#" id="logo">Bright Inventions</a>
						</h1>
					</div>
					<h2 class="title">We’re a studio in Poland with a team of great developers who build first-rate mobile apps.</h2>
				</div>
				<div class="section">
					<h1>What we've done</h1>
					<p>Since we don't like bul*hit check out some stuff that we've done to understand what first-rate means to us.</p>
					<p>And please don't believe us that those apps run like a charm - please test them yourself!</p>
				</div>
			</section>
		</div>
	</div>
</body>
</html>